.container{

    width:min(1320px,92%);
    margin-inline:auto;

}

.section{

    padding:90px 0;

}

.text-center{

    text-align:center;

}

.d-flex{

    display:flex;

}

.align-center{

    align-items:center;

}

.justify-between{

    justify-content:space-between;

}

.hidden{

    display:none;

}