{% load static %}

<nav class="navbar">

    <div class="container navbar-container">

        <!-- Logo -->
            <a href="/" class="logo">

                <img src="{% static 'images/logos/logo-white.svg' %}"
                    alt="KEVORIX"
                    class="logo-image logo-dark-mode">

                <img src="{% static 'images/logos/logo-dark.svg' %}"
                    alt="KEVORIX"
                    class="logo-image logo-light-mode">

            </a>

        <!-- Navigation -->
        <ul class="nav-menu">

            <li><a href="#home" class="active">Home</a></li>

            <li><a href="#jobs">Jobs</a></li>

            <li><a href="#companies">Companies</a></li>

            <li><a href="#resume-builder">Resume Builder</a></li>

            <li><a href="#features">Features</a></li>

        </ul>

        <!-- Right -->
        <div class="nav-actions">

            <button class="theme-toggle" type="button">
                🌙
            </button>

            <a href="#" class="btn-login">
                Login
            </a>

            <a href="#" class="btn btn-primary">
                Get Started
            </a>

        </div>

    </div>

</nav>